@{
    ViewData["Title"] = "Контакты";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@
<div class="container">
<div class="row text-center">
    <div class="col">
        <div class="container">
          <h1>Контакты</h1>  
        </div>
    </div>
</div>
    <div class="row align-items-center">
        <div class="col">

        </div>
        <div class="col">
            <div class="container">

            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>