@using TransCompanyApp.Models
@using TransCompanyApp.ViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Order

    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.LabelFor(model => model.Name)
                <p>@Html.EditorFor(model => model.Name)</p>
            </div>
            <p><input type="submit" value="Создать" /></p>
        }
    </div>