@using TransCompanyApp.Models
@using TransCompanyApp.ViewModel

@model OrderViewModel

@{
    ViewData["Title"] = "Заказ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("create", "home", FormMethod.Post))
{
    <input type="hidden" name="TimeCreate" value="@DateTime.Now" />
    <input type="hidden" name="Status" value="Pending" />
    <div class="form-group">
        <label>Имя</label><br />
        <input class="form-control" type="text" placeholder="Имя" name="Name" />
    </div>
    <div class="form-group">
        <label>Фамилия</label><br />
        <input class="form-control" type="text" placeholder="Фамилия" name="Surname" />
    </div>
    <div class="form-group">
        <label>Номер телефона</label><br />
        <input class="form-control" type="tel" placeholder="Телефон" name="Phone" />
        <span id="Phone"></span>
    </div>
    <div class="form-group">
        <label>Адрес E-mail</label>
        <input class="form-control" type="email" placeholder="E-mail" name="Email" />
    </div>
    <div class="form-group">
        <label class="form-control-label">Тариф</label>
        <select name="TariffId" class="form-control">
            @foreach (TariffModel i in Model.Tariffs)
                {
                <option value="@i.Id">@i.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary" value="Расчитать" />
    </div>
}
<div>
    @DateTime.Now
</div>