<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="theme-color" content="#909090" />
    <title>@ViewData["Title"] - Главная</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
@*<body style="background-color:#BEBEBE">*@
<body style="background-image:url(/images/white-brick-wall-texture.jpg);">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" asp-action="Index" asp-controller="web">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="order">Трансфер</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" asp-action="Index" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Аренда авто</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-action="Index">До 7 дней</a>
                        <a class="dropdown-item" asp-action="Index">Более 7 дней</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" asp-action="Index" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Авто под выкуп</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-action="Index">Новый автомобиль</a>
                        <a class="dropdown-item" asp-action="Index">Автомобиль с пробегом</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Для таксистов</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-action="Index">Получить лицензию</a>
                        <a class="dropdown-item" asp-action="Index">Подключаем к Yandex</a>
                        <a class="dropdown-item" asp-action="Index">Подключаем к Uber</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-action="about">Контакты</a>
                </li>
                <li>
                    <a class="nav-link active" asp-controller="dashboard" asp-action="index">Configure</a>
                </li>
                <li>
                    <a class="nav-link active" asp-controller="Cp" asp-action="Index">Личный кабинет</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        <br />
        @RenderBody()

        <footer class="fixed-bottom">
            @if (IsSectionDefined("Footer"))
            {
                @RenderSection("Footer")
            }
            else
            {
                <hr />
                <div class="row">
                    <div class="col-10 text-left">
                        <p>
                            &copy; 2017 - SibItProject.ru<br />
                            Обратная связь: <a href="mailto:admin@sibitproject.ru">E-mail</a><br />
                        </p>
                    </div>
                    <div class="col text-right">
                        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                        <script src="//yastatic.net/share2/share.js"></script>
                        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>
                    </div>
                </div>
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                    (function (d, w, c) {
                        (w[c] = w[c] || []).push(function () {
                            try {
                                w.yaCounter46472058 = new Ya.Metrika({
                                    id: 46472058,
                                    clickmap: true,
                                    trackLinks: true,
                                    accurateTrackBounce: true,
                                    webvisor: true,
                                    trackHash: true,
                                    ut: "noindex"
                                });
                            } catch (e) { }
                        });

                        var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = "https://mc.yandex.ru/metrika/watch.js";

                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else { f(); }
                    })(document, window, "yandex_metrika_callbacks");
                </script>
                <noscript><div><img src="https://mc.yandex.ru/watch/46472058?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->
            }
        </footer>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
